
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
@import "tailwindcss";

.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}